name: Release

on:
    push:
        tags:
            - "v*"

env:
    CARGO_TERM_COLOR: always

jobs:
    create-release:
        runs-on: ubuntu-latest
        outputs:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
        steps:
            - name: Create Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  release_name: Release ${{ github.ref }}
                  draft: false
                  prerelease: false

    build-and-upload:
        needs: create-release
        strategy:
            matrix:
                include:
                    - os: windows-latest
                      target: x86_64-pc-windows-msvc
                      artifact_name: cn-icon-remover.exe
                      asset_name: cn-icon-remover-windows.exe
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      artifact_name: cn-icon-remover
                      asset_name: cn-icon-remover-linux
                    - os: macos-latest
                      target: aarch64-apple-darwin
                      artifact_name: cn-icon-remover
                      asset_name: cn-icon-remover-macos

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  target: ${{ matrix.target }}
                  override: true

            - name: Build binary
              run: cargo build --release --target ${{ matrix.target }}

            - name: Strip binary (Unix)
              if: matrix.os != 'windows-latest'
              run: strip target/${{ matrix.target }}/release/${{ matrix.artifact_name }}

            - name: Upload Release Asset
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ needs.create-release.outputs.upload_url }}
                  asset_path: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
                  asset_name: ${{ matrix.asset_name }}
                  asset_content_type: application/octet-stream
